.navbar-header > button:first-of-type {
  margin-left: 10px;
  margin-top: 12.5px; }
.navbar-header > .navbar-toggle {
  background-color: #e7e7e7; }

.navbar {
  background-color: #25E832;
  border-color: #25E832;
  margin-bottom: 0; }

.caret {
  margin-left: 5px; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: red; }

.dropdown > a > strong {
  color: white; }

.navbar-nav > .text-center > a > strong {
  color: white; }

button {
  background-color: white; }

button:hover {
  background-color: red;
  cursor: pointer; }

@media (min-width: 768px) and (max-width: 1199px) {
  .navbar-header > button {
    margin: 0 auto; } }
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-header {
    margin-left: 40%; }

  .navbar-collapse {
    margin-left: 10%;
    margin-top: 30px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-collapse {
    margin-left: 2.5%;
    margin-top: 0px; } }
@media (min-width: 1200px) {
  .navbar-header {
    margin-left: 12.5%; }

  .navbar-collapse {
    margin-left: -3%; } }
body {
  overflow-x: hidden; }

/*This is used for all the pages except for the following:
1. ABOUT
2. SOURCES
3. CONTACT
*/
@media (max-width: 991px) {
  .row:nth-of-type(4) > footer > p {
    font-size: 12px;
    font-weight: bold; } }
@media (min-width: 992px) {
  .row:nth-of-type(4) > footer > p {
    font-size: 14px;
    font-weight: bold; } }
.col-md-offset-1 .col-md-5 > img {
  padding: 0; }

div[class="col-xs-12 col-sm-offset-1.5 col-sm-10.5 col-md-4 col-lg-4"], .row:nth-of-type(3) > div:first-of-type {
  border: 3px solid black;
  border-radius: 5px; }

.row:nth-of-type(4) > footer > p {
  margin: 0; }

@media (max-width: 991px) {
  div.row:nth-of-type(2) > div:first-of-type {
    margin-top: 20px; }

  .row:nth-of-type(3) > div:first-of-type {
    margin-top: 20px; } }
@media (max-width: 767px) {
  /*For ensuring the whitespace on both sides are equal.*/
  .row:nth-of-type(2) > div:first-of-type {
    margin-left: 10px;
    margin-top: 15px;
    width: 96%; }

  /*For ensuring that the black line underneath the heading is the same width as all other page content.*/
  .container > .row:nth-of-type(1) > p {
    border-bottom: 5px solid black;
    margin-left: 2.5%;
    margin-top: 60px;
    width: 95%; }

  .row:nth-of-type(2) > div:first-of-type > h1 {
    font-size: 25px;
    font-weight: bold; }

  .row:nth-of-type(3) > div:first-of-type > h1 {
    font-size: 25px;
    font-weight: bold; }
  .row:nth-of-type(3) > div:first-of-type > h2 {
    font-size: 18px;
    font-weight: bold; }

  .row:nth-of-type(3) > div:first-of-type {
    margin-left: 10px;
    margin-top: 15px;
    width: 96%; }

  .row:nth-of-type(4) > footer {
    margin-left: 45px;
    margin-top: 20px;
    width: 85%; } }
@media (min-width: 768px) and (max-width: 991px) {
  /*For ensuring the whitespace on both sides are equal.*/
  .row:nth-of-type(2) > div:first-of-type {
    margin-left: 10px;
    margin-top: 15px;
    width: 97.5%; }

  /*for creating a box equal in height to the picture.*/
  .row:nth-of-type(2) > div:first-of-type {
    padding-bottom: 0px; }

  /*For ensuring that the black line underneath the heading is the same width as all other page content.*/
  .container > .row:nth-of-type(1) > p {
    border-bottom: 5px solid black;
    margin-left: 15px;
    margin-top: 60px;
    width: 96%; }

  .row:nth-of-type(3) > div:first-of-type {
    margin-left: 10px;
    margin-top: 15px;
    width: 97.5%; }

  .row:nth-of-type(2) > div:first-of-type > h1 {
    font-size: 20px;
    font-weight: bold; }

  .row:nth-of-type(3) > div:first-of-type > h1 {
    font-size: 20px;
    font-weight: bold; }
  .row:nth-of-type(3) > div:first-of-type > h2 {
    font-size: 16px;
    font-weight: bold; }

  .row:nth-of-type(4) > footer {
    margin-left: 0px;
    margin-top: 20px;
    width: 100%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .row:nth-of-type(1) > h1 {
    margin-left: 70px; }

  /*For ensuring that the black line underneath the heading is the same width as all other page content.*/
  .container > .row:nth-of-type(1) > p {
    border-bottom: 5px solid black;
    margin-left: 85px;
    margin-top: 60px;
    width: 81.5%; }

  .row:nth-of-type(2) > img {
    margin-left: 70px; }

  /*for creating a box equal in height to the picture.*/
  .row:nth-of-type(2) > div:first-of-type {
    padding-bottom: 50px; }

  .row:nth-of-type(3) > div:first-of-type {
    margin-left: 85px;
    margin-top: 15px;
    width: 82%; }

  .row:nth-of-type(2) > div:first-of-type > h1 {
    font-size: 20px;
    font-weight: bold; }

  .row:nth-of-type(3) > div:first-of-type > h1 {
    font-size: 20px;
    font-weight: bold; }
  .row:nth-of-type(3) > div:first-of-type > h2 {
    font-size: 16px;
    font-weight: bold; }

  .row:nth-of-type(4) > footer {
    margin-left: 72.5px;
    margin-top: 20px;
    width: 85%; } }
@media (min-width: 1200px) {
  .row:nth-of-type(1) > h1 {
    margin-left: 80px; }

  /*For ensuring that the black line underneath the heading is the same width as all other page content.*/
  .container > .row:nth-of-type(1) > p {
    border-bottom: 5px solid black;
    margin-left: 100px;
    margin-top: 60px;
    width: 82%; }

  .row:nth-of-type(2) > img {
    margin-left: 85px; }

  .row:nth-of-type(2) > img {
    height: 50%; }

  .row:nth-of-type(2) > div:first-of-type > ul {
    margin-top: 30px; }

  /*for creating a box equal in height to the picture.*/
  .row:nth-of-type(2) > div:first-of-type {
    padding-bottom: 110px; }

  .row:nth-of-type(3) > div:first-of-type {
    margin-left: 100px;
    margin-top: 15px;
    width: 82.5%; }

  .row:nth-of-type(2) > div:first-of-type > h1 {
    font-size: 20px;
    font-weight: bold; }

  .row:nth-of-type(3) > div:first-of-type > h1 {
    font-size: 20px;
    font-weight: bold; }
  .row:nth-of-type(3) > div:first-of-type > h2 {
    font-size: 16px;
    font-weight: bold; }

  .row:nth-of-type(4) > footer {
    margin-left: 90px;
    margin-top: 20px;
    width: 85%; } }

/*# sourceMappingURL=eggs-and-tomatoes.css.map */
