@import 'variables';

.navbar-header>button:first-of-type{
	margin-left: $ten;
	margin-top: 12.5px;
}

.navbar{
	background-color: $navbarColour;
}

.caret{
	margin-left: 5px;
}

.dropdown{
	>a{
		>strong{
			color: $white;
		}
	}
	>a:focus{
		color: #FFFF00;
	}
}

button{
	border-color: $navbarColour;
	background-color: $navbarColour;
}

.navbar-default .navbar-header .navbar-toggle .icon-bar {
    background-color: $black;
}


