@import 'variables';
@import 'navbar';

.jumbotron{
	background-color: $blueVariant;
	margin: 0 auto;
	>.container{
		text-align: right;
	} 
}

@media (min-width:768px) and (max-width:992px){
	.jumbotron{
		>.container{
			width: 80%;
		}
	}
}

